language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wno-c++98-compat -Wno-missing-prototypes -Wno-padded -Wno-float-conversion HelpfulItem.cpp main.cpp Character.cpp Utility.cpp DefensiveItem.cpp Dragon.cpp DragonSlayer.cpp && ./a.out"